




body{
    margin: 0 auto;}

{font-size: 100px;} 

header.header {
    background-color: ;}


header.header img { 
    display: center;
    justify-content: space-between;
    width: 100px
    height: auto;


}
 
section.top-page{
    background-image: url("../abstract-rose-quarz-pink-fusia-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 25px;
}
.big-title {
color: rgb(0, 0, 0);
font-size: 80px;
font-style: oblique;
justify-content: center
;

}

nav.nav {
    display: flex;
    
    list-style: none;
    background-color: pink;
    
}

nav.nav li {
    color: red;
    width: 130px;
    margin-left: 30px;
    
    
    
}

.cagnotte-link {
    display: block;
    text-align: left;
    margin-top: 20px;
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.cagnotte-link:hover {
    text-decoration: underline;
}

.cagnotte-link2 {
    display: block;
    text-align: left;
    margin-top: 20px;
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.cagnotte-link2:hover {
    text-decoration: underline;
}

.cagnotte-link3 {
    display: block;
    text-align: left;
    margin-top: 20px;
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.cagnotte-link3:hover {
    text-decoration: underline;
}